# エラーの原因: template missingだったので、ファイルがないかファイル名が間違っている、のどちらかが原因
# 修正の意図: ファイル名の先頭にアンダースコアが含まれていたため、ファイル名の間違いがありそれを直した。

<h1>New Blog</h1>

<%= render 'form', blog: @blog %>

<%= link_to 'Back', blogs_path %>
